.leaflet-container {
    height: 100vh;
    width: 100vw;

}

.img-popup {
    width: 60px;
    height: 60px;
}
  
  .clock-top {

    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
 
  .clock-popup {
    font-family: Arial, sans-serif;
    font-size: 12px;
  }